
body {
  background-color: #CAB8FF 
}

.title {
  background-color: #C1FFD7;
  padding: 15px;
  text-align: center;
}

.lineTask {
  background-color: #FCFFA6;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
